body {
    /* background: lightblue; */
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 47%, rgba(148,186,233,1) 100%);
    
}

.container {
    background: pink;
    margin: auto;
    margin-top: 75px;
    margin-bottom: 75px;
    width: 44vw;
    padding: 8.5%;
    font-family: 'Lexend', Helvetica, sans-serif;
    box-shadow: 15px 5px 15px salmon;
    border-radius:15%;
}

li {
    padding: .5%;
}
  