body {
    background: lightblue;
}

.container {
    background: pink;
    margin: auto;
    width: 44%;
    padding: 8.5%;
    font-family: 'Lexend', Helvetica, sans-serif;
    box-shadow: 15px 5px 15px salmon;
}
  