body {
    background: lightblue;
}

.container {
    background: pink;
    margin: auto;
    width: 44%;
    padding: 6%;
    font-family: 'Lexend', Helvetica, sans-serif;
    box-shadow: 10px 10px 5px salmon;
}
  